@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}

/*------------------------------Navbar*/
.nav-wrapper {
    background-color: #2e837a;
    box-shadow: none;
}

.brand-logo {
    margin-left: 25px;
}


/*------------------------------Jumbotron*/

/*jumbotron headers*/
.jumbotron h1 {
    font-family: 'Poppins', sans-serif;
    margin-left: 30px;
    color: antiquewhite; 
    position: relative;
}

/*jumbotron paragraph text*/
p.jumbotron-text {
    font-family: 'Open+Sans', sans-serif;
    margin-left: 30px;
    color: antiquewhite; 
    position: relative;
}

/*jumbotron button*/
.btn-jumbotron {
    color: antiquewhite;
    margin-top: 75px;
    margin-left: 30px;
    width: 150px;
    height: 50px;
    background-color: #2e837a;
    border: 3px solid antiquewhite;
    border-radius: 3px;
}

/*jumbotron hero image home*/
.container-jumbotron {
    background-image: url(../images/jumbotron/home.jpg);
    background-image: no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 75vh;
    position: relative;
}

/*------------------------------Coder Coder; opacity for image, not text*/
.container-jumbotron::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.5);
}


/*------------------------------Recipe card Home page*/

.container-recipes h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.card-title{
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    text-align: center;
}

.card-content {
    font-family: 'Open+Sans', sans-serif;
    color: antiquewhite;
    border: 1px solid black;
    background-color: #2e837a;
    text-align: center;
}

.card-action {
    font-family: 'Open+Sans', sans-serif;
    color: antiquewhite;
}

.btn-card {
    text-decoration: none;
    color: black;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    background-color: #2e837a;
    border: 3px solid antiquewhite;
    border-radius: 3px;
}

/*------------------------------Recipe category images*/
.card-image-bread {
    background-image: url(../images/recipe-categories/bread.jpg);
    background-image: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 45vh;
    position: relative;
    border: 1px solid black;
    border-bottom: none;
}

.card-image-cake {
    background-image: url(../images/recipe-categories/cake.jpg);
    background-image: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 45vh;
    position: relative;
    border: 1px solid black;
    border-bottom: none;
}

.card-image-dessert {
    background-image: url(../images/recipe-categories/dessert.jpg);
    background-image: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 45vh;
    position: relative;
    border: 1px solid black;
    border-bottom: none;
}

.card-image-pastry {
    background-image: url(../images/recipe-categories/pastry.jpg);
    background-image: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 45vh;
    position: relative;
    border: 1px solid black;
    border-bottom: none;
}

/*------------------------------Feature home page*/
.container-feature h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.featured-user {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

/*------------------------------recipe cards*/
.recipe-header {
    margin-top: 60px;
}

.card{
    justify-content: center;
    text-align: center;

}