@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
}

/*------------------------------Navbar*/
.nav-wrapper {
    background-color: #79c4bd;
    box-shadow: none;
}

.brand-logo {
    margin-left: 25px;
}


/*------------------------------Jumbotron*/
.jumbotron h1,h3 {
    font-family: 'Poppins', sans-serif;
    margin-left: 30px;
    
}

p.jumbotron-text {
    font-family: 'Open+Sans', sans-serif;
    margin-left: 30px;
}

.btn-jumbotron {
    margin-left: 30px;
    background-color: #79c4bd;
    border: bisque;
    border-radius: 2px;
}


/*------------------------------Containers*/
.container-jumbotron {
    background-image: no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 75vh;
}