
{% extends "base.html" %}
{% block content %}

<!--Recipe categories-->
<div class="container-fluid container-recipes">
    <div class="row">
        <h2>Recipes</h2>
    </div>
</div>

<div class="row">
    <!--Bread category-->
    <div class="col s12 m6">
        <div class="card">
            <div class="card-image-bread"></div>
            <div class="card-content">
                <h4 class="card-title">Bread</h4>
                <p>From crusty white loves to Artisan bakes, 
                you can guarantee that these bread recipes will want you kneading more!</p>
                <a href="#"><button class="btn btn-flat btn-card waves-effect waves-light white-text"><strong>See all bread!</strong></button></a>
            </div>
        </div>
    </div>
    <!--Cake category-->
    <div class="col s12 m6">
        <div class="card">
            <div class="card-image-cake"></div>
            <div class="card-content">
                <div class="card-title">Cake</div>
                <p>The right cake can make any occasion feel extra special, and who doesn't like a good slice of cake?
                    Time to put the kettle on! </p>
                <a href="#"><button class="btn btn-flat btn-card waves-effect waves-light white-text"><strong>See all cake!</strong></button></a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!--Dessert category-->
    <div class="col s12 m6">
        <div class="card">
            <div class="card-image-dessert"></div>
            <div class="card-content">
                <h4 class="card-title">Desserts</h4>
                <p>This collection of stunning desserts will make sure that all your friends will want to come for dinner.
                    It's up to you if you invite them, or just eat it all yourself!
                </p>
                <a href="#"><button class="btn btn-flat btn-card waves-effect waves-light white-text"><strong>See all desserts!</strong></button></a>
            </div>
        </div>
    </div>
    <!--Pastry category-->
    <div class="col s12 m6">
        <div class="card">
            <div class="card-image-pastry"></div>
            <div class="card-content">
                <h4 class="card-title">Pastry</h4>
                <p>The word pastry can make even the most experienced baker shudder. 
                    With these recipes they'll be nothing be cheers and empty plates! </p>
                <a href="#"><button class="btn btn-flat btn-card waves-effect waves-light white-text"><strong>See all pastry!</strong></button></a>
            </div>
        </div>
    </div>
</div>

<!--Feature-->
<div class="container-fluid container-feature">
    <div class="row">
        <h2>Feature</h2>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <h4 class="featured-user">The Saxon Forager</h4>
    </div>
</div>


{% endblock %}