{% extends "base.html" %}
{% block content %}

<!--Recipe category bread-->
<div class="container-fluid container-recipes">
    <div class="row">
        <h2 class="recipe-header">Bread</h2>
    </div>
</div>

<div class="row">
    <!--breadsticks-->
    <div class="col s12 m3">
        <div class="card">
            <div class="recipe breadsticks">
                <a href=""><img src="../static/images/recipe-cards/bread-recipes/breadsticks.jpg" alt="breadsticks"></a>
            </div>
            <div class="card-content">
                <h5 class="card-title">Breadsticks</h5>
            </div>
        </div>
    </div>
    <!--Soda bread-->
    <div class="col s12 m3">
        <div class="card">
            <div class="irish-soda">
                <a href=""><img src="../static/images/recipe-cards/bread-recipes/irish_soda_bread.jpg" alt="irish_soda_bread"></a>
            </div>
            <div class="card-content">
                <h5 class="card-title">Soda bread</h5>
            </div>
        </div>
    </div>
    <!--Gluten free-->
    <div class="col s12 m3">
        <div class="card">
            <div class="gluten-free">
                <a href=""><img src="../static/images/recipe-cards/bread-recipes/gluten_free.jpg" alt="gluten_free"></a>
            </div>
            <div class="card-content">
                <h5 class="card-title">Gluten free</h5>
            </div>
        </div>
    </div>
    <!--Rosemary focaccia-->
    <div class="col s12 m3">
        <div class="card">
            <div class="rosemary-focaccia">
                <a href=""><img src="../static/images/recipe-cards/bread-recipes/rosemary_focaccia.jpg" alt="rosemary_focaccia"></a>
            </div>
            <div class="card-content">
                <h5 class="card-title">Focaccia</h5>
            </div>
        </div>
    </div>
</div>

<!--Recipe category cake-->
<div class="container-fluid container-recipes">
    <div class="row">
        <h2 class="recipe-header">Cake</h2>
    </div>
</div>

<div class="row">
    <!--Ginger cake-->
    <div class="col s12 m3">
        <div class="card">
            <div class="recipe ginger-cake">
                <a href=""><img src="../static/images/recipe-cards/cake-recipes/ginger_cake.jpg" alt="ginger_cake"></a>
            </div>
            <div class="card-content">
                <h5 class="card-title">Ginger cake</h5>
            </div>
        </div>
    </div>
    <!--Lemon drizzle cake-->
    <div class="col s12 m3">
        <div class="card">
            <div class="lemon-drizzle">
                <a href=""><img src="../static/images/recipe-cards/cake-recipes/lemon_drizzle.jpg" alt="lemon_drizzle"></a>
            </div>
            <div class="card-content">
                <h5 class="card-title">Lemon drizzle</h5>
            </div>
        </div>
    </div>
    <!--Mocha sponge cake-->
    <div class="col s12 m3">
        <div class="card">
            <div class="mocha-sponge">
                <a href=""><img src="../static/images/recipe-cards/cake-recipes/mocha_sponge_cake.jpg" alt="mocha_sponge"></a>
            </div>
            <div class="card-content">
                <h5 class="card-title">Mocha cake</h5>
            </div>
        </div>
    </div>
    <!--Red velvet-->
    <div class="col s12 m3">
        <div class="card">
            <div class="rosemary-focaccia">
                <a href=""><img src="../static/images/recipe-cards/cake-recipes/red_velvet.jpg" alt="red_velvet"></a>
            </div>
            <div class="card-content">
                <h5 class="card-title">Red velvet</h5>
            </div>
        </div>
    </div>
</div>

<!--Recipe category dessert-->
<div class="container-fluid container-recipes">
    <div class="row">
        <h2 class="recipe-header">Dessert</h2>
    </div>
</div>

<div class="row">
    <!--Choc caramel cream-->
    <div class="col s12 m3">
        <div class="card">
            <div class="recipe choc-caramel">
                <a href=""><img src="../static/images/recipe-cards/dessert-recipes/choc_caramel_cream.jpg" alt="choc_caramel_cream"></a>
            </div>
            <div class="card-content">
                <h5 class="card-title">Choc caramel</h5>
            </div>
        </div>
    </div>
    <!--Pavlova-->
    <div class="col s12 m3">
        <div class="card">
            <div class="pavlova">
                <a href=""><img src="../static/images/recipe-cards/dessert-recipes/pavlova.jpg" alt="pavlova"></a>
            </div>
            <div class="card-content">
                <h5 class="card-title">Pavlova</h5>
            </div>
        </div>
    </div>
    <!--Sticky toffee pudding-->
    <div class="col s12 m3">
        <div class="card">
            <div class="sticky-toffee">
                <a href=""><img src="../static/images/recipe-cards/dessert-recipes/sticky_toffee_pudding.jpg" alt="sticky_toffee_pudding"></a>
            </div>
            <div class="card-content">
                <h5 class="card-title">Sticky toffee pud</h5>
            </div>
        </div>
    </div>
    <!--Tiramisu-->
    <div class="col s12 m3">
        <div class="card">
            <div class="tiramisu">
                <a href=""><img src="../static/images/recipe-cards/dessert-recipes/tiramisu.jpg" alt="tiramisu"></a>
            </div>
            <div class="card-content">
                <h5 class="card-title">Tiramisu</h5>
            </div>
        </div>
    </div>
</div>

<!--Recipe category pastry-->
<div class="container-fluid container-recipes">
    <div class="row">
        <h2 class="recipe-header">Pastry</h2>
    </div>
</div>

<div class="row">
    <!--Filo pie-->
    <div class="col s12 m3">
        <div class="card">
            <div class="recipe filo-pie">
                <a href=""><img src="../static/images/recipe-cards/pastry-recipes/filo_pie.jpg" alt="filo_pie"></a>
            </div>
            <div class="card-content">
                <h5 class="card-title">Filo pie</h5>
            </div>
        </div>
    </div>
    <!--Lemon tart-->
    <div class="col s12 m3">
        <div class="card">
            <div class="lemon-tart">
                <a href=""><img src="../static/images/recipe-cards/pastry-recipes/lemon_tart.jpg" alt="lemon_tart"></a>
            </div>
            <div class="card-content">
                <h5 class="card-title">Lemon tart</h5>
            </div>
        </div>
    </div>
    <!--Profiteroles-->
    <div class="col s12 m3">
        <div class="card">
            <div class="profiteroles">
                <a href=""><img src="../static/images/recipe-cards/pastry-recipes/profiteroles.jpg" alt="profiteroles"></a>
            </div>
            <div class="card-content">
                <h5 class="card-title">Profiteroles</h5>
            </div>
        </div>
    </div>
    <!--Puff pastry tart-->
    <div class="col s12 m3">
        <div class="card">
            <div class="puff-pastry-tart">
                <a href=""><img src="../static/images/recipe-cards/pastry-recipes/puff_pastry_tart.jpg" alt="puff_pastry_tart"></a>
            </div>
            <div class="card-content">
                <h5 class="card-title">Puff pastry tart</h5>
            </div>
        </div>
    </div>
</div>

{% endblock %}